
<div ng-controller="priceCtrl">
	<form name="form" ng-submit="form.$valid && addCrypto()"
		novalidate="novalidate" novalidate>
		<div class="loading" ng-if="crypto==undefined">Loading&#8230;</div>
		<div ng-if="crypto!=undefined ">
			<div class="">
				<div class=""></div>
				<div class="">
					Total Price <B><input type="button" class="btn btn-primary"
						value="{{totalPrice | currency}}"
						title="{{totalPrice | currency}}"></input></B>
				</div>
			</div>
			<br>
			<div class="col-lg-12 form-group">
				<div class="col-lg-4 text-muted">Total Price</div>
				<div class="">
					<B><span>{{totalPrice | currency}}</span>
<!-- 					title="{{totalPrice | currency}}"></input> -->
						</B>
				</div>
			</div>   
		</div>

		<div class="col-lg-12 form-group">
			<div class="col-lg-4 text-muted">CryptoCurrency Name :</div>
			<div class="col-lg-8">
				<select class="form-control" name="cryptoCurrency" required
					ng-options="item as item.name for item in crypto track by item.id"
					ng-model="userCrypto.crypto"><option value="" disabled
						selected>Select your Currency</option>
				</select>
				<div class="error"
					ng-show="form.submitted && form.cryptoCurrency.$invalid">Please
					select your required currency first.</div>
			</div>
		</div>
		<div class="col-lg-12 form-group">
			<div class="col-lg-4 text-muted">In how much quantity</div>
			<div class="col-lg-8">
				<label class="item item-input"> <i
					class="icon ion-edit placeholder-icon"></i> <input type="text"
					class="form-control" name="quantity" placeholder="Quantity(Ex:0.3)"
					ng-model="userCrypto.quantity" ng-required="true" required>
				</label>
				<div class="error"
					ng-show="form.submitted && form.quantity.$invalid">Please
					enter the quantity of currency (ex:0.01)</div>
			</div>

		</div>
		<div class="col-lg-12 form-group">
			<div class="col-lg-4 text-muted">In which Currency you want
				your price</div>
			<div class="col-lg-8">
				<select ng-model="userCrypto.currency" class="form-control"
					name="curr" ng-required="true" required>
					<option value="" disabled selected>Select your Required
						Currency</option>
					<option ng-repeat="(key,val) in currencies" value="{{val}}"
						selected="selected">{{val}}-{{key}}</option>
				</select>
				<div class="error" ng-show="form.submitted && form.curr.$invalid">Please
					select currency</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-7"></div>
			<div class="col-lg-3">
				<input class="btn btn-danger" type="submit" value="Add"
					title="click to save this" ng-click="form.submitted=true;" />
			</div>
		</div>
</div>
<div class="container" ng-if="existingCrypto.length>0">
	<div class="container col-lg-12">
		<span class="col-lg-4 "><b>Your Records</b></span>
		<button class="btn  pull-right" ng-click="reloadPage()">
			<a href="#"> <i class="icon ion-loop"></i>
			</a>
		</button>
	</div>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Currency Name</th>
				<th>Currency Quantity</th>
				<th>Required Currency</th>
				<th>Current Price</th>
				<th>Your Currency Price</th>
				<th>Previous Checked Price</th>
				<th>Graph View</th>
				<th>Remove This</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			<tr ng-repeat="obj in existingCrypto">
				<th scope="row">{{$index+1}}</th>
				<td>{{obj.crypto.name}}</td>
				<td>{{obj.quantity}}</td>
				<td>{{obj.currency}}</td>
				<td>{{obj.yourPrice | currency }}</td>
				<td>{{obj.yourCurrPrice}}</td>
				<td>{{obj.prevCheckedPrice}}</td>
				<td>There Graph</td>
				<td title="Delete This Crypto" ng-click="removeThis($index)"
					style="color: blue; mouse: hand;"><span class="btn btn-error">Delete</span></td>
				<td ng-click="getPriceForOne(obj)">Price for one</td>
			</tr>

		</tbody>
	</table>
</div>
</form>
</div>
